
body {
	background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
	text-align: center;
	background-size: cover;
}
h1 {
  color: #62BBE1;
  font-family: 'Righteous', cursive;
  font-size: 40px;
  text-align:center;
  
}

h2 {
  color: #62BBE1;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  text-align:center;
  
}
img {
	width: 20%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

ul.navBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #EEEBFA;
	border: 2px solid #A4A0B2;
	position:sticky;
	
}

li.navBar {
	float: left;
	color: color: #EEEBFA;
	display: inline;
	border-right: 1px solid #473B7B;
}
li.navBar a {
	display: block;
	color: #473B7B;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}

li.navBar a:hover {
	background-color: #111;

}

nav {
	font-family: 'Righteous', cursive;
	font-size: 20px;
}


label{
	font-family: arial narrow;
	color: #C9C5D6;
	font-size: 20px;
}
p{
	font-family: arial narrow;
	color: #C9C5D6;
	font-size: 20px;
}
.center {
	display: block;
	margin-left:auto;
	margin-right: auto;
	width: 30%;
}
form {
display: inline-block;
border: 1px solid #C9C5D6;
box-sizing: border-box;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-color: #3584A7
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #C9C5D6;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 24;
}