h1 {
  color: #E6E9EB;
  font-family: arial narrow;

}
h4 {
  font-family: arial narrow;
  color: #E6E9EB
}

p {
  color: color: #E6E9EB
  font-family: arial narrow;
}

body {
  background-image: url(Images/piano.jpg);
  background-size: cover;
  font-family: arial narrow;
  color: #E6E9EB;
}

li {
	color: color: #E6E9EB
}