
h1 {
  color: #62BBE1;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 40px;
  text-align:center;

}
h4 {
  font-family: arial narrow;
  color: #62BBE1;
}

p {
  color: color: #62BBE1;
  font-family: arial narrow;
}

body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  font-family: arial narrow;
  font-size: 30px;
  color: #ECEFF1;
}

ul.hobbies {
	color: color: #62BBE1;
}
ul.navBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #6C49D5;
	border: 2px solid #A4A0B2;
	position:sticky;
	
}

li.navBar {
	float: left;
	color: color: #62BBE1;
	display: inline;
}
li.navBar a {
	display: block;
	color: white;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}

li.navBar a:hover {
	background-color: #111;

}

nav {
	font-family: arial narrow;
	font-size: 25px;
}

a {
	color: #62BBE1;
}

